<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="signup-or-in">
    <section>
        <form action="/login" method="post">
            <h1>Sign In</h1>
            <div class="inputbox"> 
                <input type="email" id="email" name="email">
                <label for="email">Your Email</label>
            </div>
            <div class="inputbox">
                <input type="password" name="password" id="password" required>
                <label for="password">Your Password</label>
            </div>
            <button type="submit" class="submit-btn">Sign In</button>
            <div class="register">
                <p>New to E~Homie? <a href="/signup">Create Account</a></p>
            </div>
            </form>
        </section>
    </body>
</html>