<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Two</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <h2>Question 2: How important is extracurricular activities?</h2>

  <form action="/question2" method="post">
    <label for="q2">Choose a number 1-10:</label>
    <select id="q2" name="q2">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <input type="submit">
  </form>    
</body>
</html>

