<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Six</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <h2>Question 6: How introverted are you?</h2>
    
  <form action="/question6" method="post">
    <label for="q6">Choose a number 1-10:</label>
    <select id="q6" name="q6">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <input type="submit">
  </form>    
</body>
</html>

