<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Bio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body >
    <form action="/updateBio" method="post">
        <label for="bio">Type your bio</label>
        <textarea name="bio" id="bio" rows="5" cols="50"></textarea><br>
        <!--<input type="text" name="bio" id="bio">-->
        <button type="submit" value="save_bio" name="save_bio">Save</button>                            
    </form>  
</body>
</html>